body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100px;
  height: 100px;
}

.icon {
  display: inline-block;
}

.threebox {
  border-top: 1px solid black;
  width: 300px;
  background-color: orange;
  height: 49px;
  border-radius: 0 0 34px 34px !important;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: 1s ease;
  opacity: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.hide {
  opacity: 0;
  transition: 1s ease;
  pointer-events: none;
}

.onebox {
  border-top: 1px solid black;
  text-align: center;
  width: 100px;
  height: 49px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: ease 1s;

  cursor: pointer !important;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


.l1 {
  border-radius: 0 0 0 35px;
  transition: ease 1s;
}

.r1 {
  border-radius: 0 0 35px 0;
  transition: ease 1s;
}

.c1 {
  border-radius: 0 0 0 0;
  transition: ease 1s;
}



.l2 {
  border-radius: 0 15px 0 34px;
  transition: ease 1s;
  background-color: red;
}

.r2 {
  border-radius: 15px 0 34px 0;
  transition: ease 1s;
  background-color: blue;
}

.c2 {
  border-radius: 15px 15px 0 0;
  transition: ease 1s;
  background-color: green;
}


.flashcardContainer {
  background-color: aliceblue;
  width: 300px;
  height: 200px;
  border-radius: 35px;
  border: 1px solid black;
  margin: 20px;
}

.flashcardHeader {
  height: 39px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end;
  border-bottom: 1px solid black;
}

.flashcardBody {
  height: 90px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 280px;
  background-color: white;
  margin: 10px;
}


.flashcardFooter {
width: 300px;
  height: 50px;
}


.threebox:active, .c2:active, .r2:active, .l2:active {
  transition: 0.2s ease;
  box-shadow: inset 0.1em 0.1em 0.1em 0 rgba(0, 0, 0, 0.5), inset -0.1em -0.1em 0.1em 0 rgba(0, 0, 0, 0.5);
}

.threebox, .r2,.c2, .l2 {
  transition: 0.2s ease;
  box-shadow: none;
}


